<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de productos</title>
</head>
<body>
    <fieldset>
        <h1>Administración de PRODUCTOS</h1>
        <label for="">Nombre</label>
        <input type="text">
        <br>
        <br>
        <label for="">Tipo de unidad</label>
        <input type="text">
        <br>
        <br>
        <label for="">Precio unitario</label>
        <input type="text">
        <br>
        <br>
        <label for="">Porcentaje de promoción</label>
        <input type="text">
        <br>
        <br>
        <label for="">Bono de descuento</label>
        <input type="text" placeholder="SÍ/NO">
        <br>
        <br>
        <label for="">Cantidad por lote</label>
        <input type="text">
        <br>
        <br>
        <button>Actualizar</button>
        <button>Eliminar</button>
        <a href="">Crear nuevo producto</a>

    </fieldset>
    
</body>
</html>