<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRACION DE CLIENTES</title>
</head>
<body>
    <fieldset>
        <h1>Administración de CLIENTES</h1>
        <input type="text" placeholder="Nombre/ID">
        <button>Buscar</button>
        <br>
        <br>
        <label for="">Nombres</label>
        <input type="text">
        <br>
        <br>
        <label for="">Apellidos</label>
        <input type="text">
        <br>
        <br>
        <label for="">Sexo</label>
        <input type="text">
        <br>
        <br>
        <label for="">Fecha de nacimiento</label>
        <input type="date" name="" id="">
        <br>
        <br>
        <label for="">Dirección</label>
        <input type="text">
        <br>
        <br>
        <label for="">Ciudad</label>
        <input type="text">
        <br>
        <br>
        <label for="">Username</label>
        <input type="text">
        <br>
        <br>
        <label for="">Contraseña</label>
        <input type="password">
        <br>
        <br>
        <button>Actualizar</button>
        <button>Eliminar</button>

    </fieldset>
    
</body>
</html>