<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
    {% endblock %}

    {% block estilos %}
    {% endblock %}
</head>
<body>
   <header class="header">
        <div class=cuerpoheader>
            <div class="logoH">
                <img src="/img/logorect.png" alt="">
            </div>
            <div>
                <div class="logouser">
                    <img src="/img/user-solid.svg" alt="">
               </div>
               <div>
                   <p>Nombre</p>
               </div>
            </div>
            <div>
                <div class="logocerrar">
                     <img src="/img/power-off-solid.svg" alt="">
                </div>
                <div>
                    <a href="">Cerrar Sesion</a>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div>
            <div>
                <div>
                    <img src="/img/home-solid.svg" alt="">
                </div>
                <div>
                    <a href="">HOME</a>
                </div>
            </div>
            <div>
                <div>
                    <img src="/img/user-solid.svg" alt="">
                </div>
                <div>
                    <a href="">USUARIOS</a>
                </div>
            </div>
            <div>
                <div>
                    <img src="/img/shopping-cart-solid.svg" alt="">
                </div>
                <div>
                    <a href="">PRODUCTOS</a>
                </div>
            </div>
            <div>
                <div>
                    <img src="/img/list-ul-solid.svg" alt="">
                </div>
                <div>
                    <a href="">LISTADOS</a>
                </div>
            </div>
        </div>
    </section>
 
    {% block contenido %}
    {% endblock %}
</body>
{% block scripts %}
{% endblock %}
</html>