<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARRITO DE COMPRAS</title>
</head>
<body>
    <fieldset>
        <header>
            <h1>Carrito de compras</h1>
        </header>
        <tr>
            <img src="/resources/carrito.png" alt="" height="21" width="21">
            <label for="">Tu carrito</label>
            <input type="search" name="" id="">
            <button>Buscar</button>
        </tr>
        <br>
        <br>
        <br>
        <img src="/resources/teclado.png" alt="" height="70" width="70">
        <label for="">Nombre producto</label>
        <br>
        <label for="">$999</label>
        <br>
        <label for="">Disponibles: 30</label>
        <input type="number" name="" id="" value="1">
        <input type="image" src="/resources/basura.png" alt="" height="21" width="21">
        <br>
        <br>
        <br>
        <img src="/resources/teclado.png" alt="" height="70" width="70">
        <label for="">Nombre producto</label>
        <br>
        <label for="">$999</label>
        <br>
        <label for="">Disponibles: 30</label>
        <input type="number" name="" id="" value="1">
        <input type="image" src="/resources/basura.png" alt="" height="21" width="21">
        <br>
        <br>
        <br>
        <img src="/resources/teclado.png" alt="" height="70" width="70">
        <label for="">Nombre producto</label>
        <br>
        <label for="">$999</label>
        <br>
        <label for="">Disponibles: 30</label>
        <input type="number" name="" id="" value="1">
        <input type="image" src="/resources/basura.png" alt="" height="21" width="21">
        <br>
        <br>
        <br>
        <img src="/resources/teclado.png" alt="" height="70" width="70">
        <label for="">Nombre producto</label>
        <br>
        <label for="">$999</label>
        <br>
        <br>
        <br>
        <label for="">Disponibles: 30</label>
        <input type="number" name="" id="" value="1">
        <input type="image" src="/resources/basura.png" alt="" height="21" width="21">
        <br>
        <br>
        <label for="">Total articulos:</label>
        <input type="text">
        <br>
        <br>
        <label for="">Precio total:</label>
        <input type="text">
        <br>
        <button>Pagar en caja</button>







    </fieldset>
    
</body>
</html>