<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESKTOP2</title>
</head>
<body>
    <fieldset>
        <h1>Orion Delivery</h1>
        <fieldset>
            <tr>
                <button>Mujer</button>
                <button>Hombre</button>
                <button>Ofertas</button>
                <input type="search" name="" id="" placeholder="Buscar">
                <input type="image" src="/resources/carrito.png" alt="" height="21" width="21">
                <input type="image" src="/resources/icono usuario.png" alt="" height="21" width="21">
            </tr>
        </fieldset>
        <br>
        <br>
        <fieldset>
            <tr>
                <button>Lo mejor en tecnología</button>
                <button>Hasta 60% de descuento off</button>
                <input type="image" src="/resources/hombre-señalando-derecha-min.png" alt="" height="50" width="50">
                <input type="image" src="/resources/televisor.png" alt="" height="50" width="50">
                <input type="image" src="/resources/teclado.png" alt="" height="50" width="50">

            </tr>
        </fieldset>
        <br>
        <br>
        <select name="OS" size=9>
            <option selected value="0"> Todas las categorías </option>
                <optgroup label="Tecnología"> 
                <option value="1">Windows Vista</option> 
                <option value="2">Windows 7</option> 
                <option value="3">Windows XP</option> 
            </optgroup> 
            <optgroup label="Celulares"> 
                <option value="10">Fedora</option> 
                <option value="11">Debian</option> 
                <option value="12">Suse</option> 
            </optgroup> 
         </select>
    </fieldset>
</body>
</html>