<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESKTOP4</title>
</head>
<body>
    <fieldset>
        <h1>Orion Delivery</h1>
        <fieldset>
            <tr>
                <button>Mujer</button>
                <button>Hombre</button>
                <button>Ofertas</button>
                <input type="search" name="" id="" placeholder="Buscar">
                <input type="image" src="/resources/carrito.png" alt="" height="21" width="21">
                <input type="image" src="/resources/icono usuario.png" alt="" height="21" width="21">
            </tr>
        </fieldset>
        <br>
        <br>
        <fieldset>
            <tr>
                <button>Lo mejor en tecnología</button>
                <button>Hasta 60% de descuento off</button>
                <input type="image" src="/resources/hombre-señalando-derecha-min.png" alt="" height="50" width="50">
                <input type="image" src="/resources/televisor.png" alt="" height="50" width="50">
                <input type="image" src="/resources/teclado.png" alt="" height="50" width="50">
                <button>Conoce más</button>

            </tr>
        </fieldset>
        <h2>Carrito</h2>
        <button>Limpiar todos los productos añadidos</button>
        <br>
        <br>
        <img src="/resources/televisor.png" alt="" height="70" width="70">
        <label for="">televisor</label>
        <br>
        <label for="">Disponible</label>
        <label for="">Cantidad</label><input type="number" name="" id="" value="1">
        <br>
        <br>
        <img src="/resources/televisor.png" alt="" height="70" width="70">
        <label for="">televisor</label>
        <br>
        <label for="">Disponible</label>
        <label for="">Cantidad</label><input type="number" name="" id="" value="1">
        <br>
        <br>
        <img src="/resources/televisor.png" alt="" height="70" width="70">
        <label for="">televisor</label>
        <br>
        <label for="">Disponible</label>
        <label for="">Cantidad</label><input type="number" name="" id="" value="1">
        <br>
        <br>
        <br>
        <label for="">Lista de deseos</label>
        <br>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <br>
        <br>
        <br>
        <h2>Carrito</h2>
        <label for="">Total(N productos):</label>
        <input type="number" name="" id=""> 
        <br>
        <br>
        <button>Comprar ya</button>       
    </fieldset>
    
</body>
</html>