<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO DE SESIÓN</title>
</head>
<body>
    <fieldset>
    <h1>INICIA SESIÓN EN TU CUENTA</h1>
    <input type="email" placeholder="Correo electrónico">
    <br>
    <br>
    <input type="password" placeholder="Contraseña">
    <br>
    <br>
    <button>LOGIN</button>
    <a href="">Crea una cuenta</a>
    <a href="">¿Olvidaste la contraseña?</a>
    </fieldset>
    
</body>
</html>