<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LANDING</title>
</head>
<body>
    <fieldset>
        <h1>Orion Delivery</h1>
        <tr>
            <button>Mujer</button>
            <button>Hombre</button>
            <button>Ofertas</button>
            <input type="search" name="" id="" placeholder="Buscar">
            <input type="image" src="/resources/carrito.png" alt="" height="21" width="21">
            <input type="image" src="/resources/icono usuario.png" alt="" height="21" width="21">

        </tr>
        <h2>Compra con seguridad, </h2>
        <h2>¡Compra con Orion!</h2>
        <tr>
            <button>COMPRAR AHORA</button>
            <button>INICIAR SESIÓN</button>
        </tr>
    </fieldset>

</body>
</html>