<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA DE DESEOS</title>
</head>
<body>
    <header>
        <h1>Carrito de compras</h1>
    </header>
    <tr>
        
        <label for="">Lista de deseos</label>
        <input type="search" name="" id="">
        <button>Buscar</button>
    </tr>
    <br>
    <br>
    <br>
    <img src="/resources/teclado.png" alt="" height="70" width="70">
    <label for="">Nombre producto</label>
    <br>
    <label for="">$999</label>
    <button>Añadir al carrito</button>
    <button>Eliminar</button>
    <select name="" id="">
        <option value="">Mover</option>
    </select>

    <br>
    <br>
    <br>
    <img src="/resources/teclado.png" alt="" height="70" width="70">
    <label for="">Nombre producto</label>
    <br>
    <label for="">$999</label>
    <button>Añadir al carrito</button>
    <button>Eliminar</button>
    <select name="" id="">
        <option value="">Mover</option>
    </select>
    <br>
    <br>
    <br>
    <img src="/resources/teclado.png" alt="" height="70" width="70">
    <label for="">Nombre producto</label>
    <br>
    <label for="">$999</label>
    <button>Añadir al carrito</button>
    <button>Eliminar</button>
    <select name="" id="">
        <option value="">Mover</option>
    </select>

</body>
</html>