<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTADOS</title>
</head>
<body>
    <fieldset>
        <h1>LISTADOS</h1>
        <h2>Filtrar por:</h2>
        <br>
        <label for="">Rango acumulado de compras</label>
        <input type="text">
        <br>
        <br>
        <label for="">Ciudad</label>
        <input type="text">
        <br>
        <br>
        <label for="">Rango de bonos de descuento</label>
        <input type="text">
        <br>
        <br>
        <label for="">Sexo</label>
        <input type="text">
        <br>
        <br>
        <label for="">Fecha de nacimiento</label>
        <input type="date" name="" id="">
        <br>
        <br>
        <label for="">Producto específico</label>
        <input type="text">
        <br>
        <br>
        <label for="">Fecha de compra</label>
        <input type="date" name="" id="">
        <button>Filtrar</button>
        <br>
        <br>
        <textarea name="" id="" cols="30" rows="10"></textarea>

    </fieldset>
    
</body>
</html>