<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO DE PRODUCTOS</title>
</head>
<body>
    <fieldset>
        <h1>BIENVENIDO A LA SECCIÓN DE REGISTRO</h1>
        <h2>Registro de productos al inventario</h2>
        <input type="text" placeholder="Nombres">
        <br>
        <br>
        <input type="text" placeholder="Códigos">
        <br>
        <br>
        <input type="text" placeholder="Tipo de unidad">
        <br>
        <br>
        Porcentaje de promoción <input type="text" placeholder="%">
        <br>
        <br>
        <input type="text" placeholder="Precio unitario">
        <br>
        <br>
        <input type="text" placeholder="Bono de descuento    Sí/No">
        <br>
        <br>
        <input type="text" placeholder="Cantidad estandar de prodcutos x lote">
        <br>
        <br>
        <button>REGISTRAR</button>
        
    </fieldset>
    
</body>
</html>