<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO INTERNO</title>
</head>
<body>
    <fieldset>
    <h1>BIENVENIDO A LA SECCIÓN DE REGISTRO</h1>
    <h2>Registro de usuarios internos</h2>
    
    <input type="text" placeholder="Nombre">
    <br>
    <br>
    <input type="text" placeholder="Apellido">
    <br>
    <br>
    <input type="text" placeholder="Sexo">
    <br>
    <br>
    <label for="">Fecha de nacimiento</label>
    <input type="date">
    <br>
    <br>
    <input type="text" placeholder="Dirección">
    <br>
    <br>
    <input type="text" placeholder="Ciudad">
    <br>
    <br>
    <input type="text" placeholder="Username">
    <br>
    <br>
    <input type="password" placeholder="Contraseña">
    <br>
    <br>
    <input type="text" placeholder="Cargo en la compañía">
    <br>
    <br>
    <button>INGRESAR</button>
    
    
    </fieldset>
</body>
</html>