<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div>
            <input type="text" name="cedula" id="cedula" placeholder="Documento Identidad">
        </div>
        <div>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
        </div>
        <div>
            <input type="text" name="apellido" id="apellido" placeholder="Apellido">
        </div>
        <div>
            <input type="email" name="email" id="email" placeholder="E-mail">
        </div>
        <div>
            <label>M </label><input type="radio" name="sexo" id="sexo" value="M">
        
            <label>F </label><input type="radio" name="sexo" id="sexo" value="F">
        </div>
        <div>
            <label>Fecha de Nacimiento</label>
        </div>
        <div>
            <input type="date" name="fecha_nac" id="fecha_nac">
        </div>
        <div>
            <input type="text" name="direccion" id="direccion" placeholder="Dirección">
        </div>
        <div>
            <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad">
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Contraseña">
        </div>
        <div>
            <input type="password" name="ver_password" id="ver_password" placeholder="Verificar Contraseña">
        </div>
        <div>
            <input type="submit" value="submit">
        </div>

    </form>
</body>
</html>