<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO USUARIOS</title>
</head>
<body>
    <fieldset>
    <h1>REGISTRATE</h1>
    <input type="text" placeholder="Nombres">
    <br>
    <br>
    <input type="text" placeholder="Apellidos">
    <br>
    <br>
    <input type="text" placeholder="Sexo">
    <br>
    <br>
    Fecha de nacimiento <input type="date">
    <br>
    <br>
    <input type="text" placeholder="Dirección">
    <br>
    <br>
    <input type="text" placeholder="Ciudad">
    <br>
    <br>
    <input type="text" placeholder="Username">
    <br>
    <br>
    <input type="password" placeholder="Contraseña">
    <br>
    <br>
    <button>REGISTRO</button>
    <br>
    <br>
    <a href="">Terminos y condiciones</a>
    </fieldset>
</body>
</html>